<h4>Internal server error - refreshing the page will make the error disapper!</h4>

<ng-container *ngIf="error">
    <h5 class="text-danger">Error: {{error}} </h5>
    <p class="font-weight-bold">Node: if you are seeing this then Angular is probaly not to blame</p>
    <p>What to do next</p>
    <ol> 
        <li>Open the chorme dev tools</li>
        <li>Inapect the network tab</li>
        <li>Check the failing request</li>
        <li>Examine the request URL - make sure it is correct</li>
        <li>Reproduce the error in Postman - if we see the same response, then the issue is not with</li>
    </ol>
    <p>Following in hte stack trace -  this is where your intergation shound start! </p>
    <code class="mt-5" style="background-color: whitesmoke;">{{error.details}}</code>
</ng-container>
    





